* 
{
  margin: 0;
  padding: 0;
}

.header {
    background-color:white ;
    margin-top: 0%;
    width: 100%;
    height: 88px;
}

ul {
    display: flex;
    padding: 0;
    justify-content: center;
}
 .header-link {
    list-style: none;
    padding: 72px;
    padding-top: 32px;
    padding-bottom: 32px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%; /* 24.3px */
    
 }

 a {
    text-decoration: none;
 }

 .wrapper {
    width: 100%;
    height: 552px;
    padding: 0;
    background-color:#00BDC9;;
    background-repeat: no-repeat;
    background-image: url(../Frame.png);;
    background-position: center center;
 }

 .content {
    display: flex;
    background-color:white ;
    padding: 88px 0px;
    flex-direction: column;
    align-items: center;
    text-align: left;
    text-align: left;
   }

 .content-title {
   color: #000;
   text-align: center;
   font-family: Inter;
   font-size: 48px;
   font-style: normal;
   font-weight: 600;
   line-height: 135%; /* 64.8px */
 }

 .info {
   margin-left: 10px;
   color: #161616;
 font-family: Inter;
 font-size: 21px;
 font-style: normal;
 font-weight: 500;
 line-height: 150%; /* 31.5px */
   padding-bottom: 24px;
   padding-top: 40px;
   text-align:left;
   width: 856px;
 }

 .info-color {
   color: #04959E;
 font-family: Inter;
 font-size: 21px;
 font-style: normal;
 font-weight: 600;
 line-height: 150%;
 }

 .item-list{
   display: inline-block;
   color: #161616;
   font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%; /* 27px */
   display: list-item;
   text-align: -webkit-match-parent;
 }

 .list {
   display: block;
   margin-left: 10px;
   width: 856px;
   height: 351;
   list-style-type: decimal;
   padding: 0;
   margin: 0;
   text-align:left;
  padding: 0;
  margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-inline-start: 40px;

   
}

.button {
   display: flex;
   padding: 10px 24px;
   justify-content: center;
   align-items: center;
   background-color: #04959E;
   width: 97px;
   height: 24px;
   
}
.button-title {
   color: #FFF;
   text-align: center;
   font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 135%; /* 24.3px */
   background-color:#04959E ;
   border: none;
   outline: none;
}

.content-list {
   padding-bottom: 88px;
}

.line {
   background-color:white ;

}
 
.footer{
   display: flex;
   flex-direction: column;
   align-items: center;
   align-self: stretch;
   background-color:white ;
}
.footer-text {
   display: flex;
   width: 856px;
   height: 26px;
   padding: 16px 0px;
   justify-content:center ;
   align-items: flex-start;
   background-color:white ;

}

.footer-title {
   color: #161616;
   text-align: center;
   font-family: Inter;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 150%; /* 27px */
   width: 146px;
   height: 27px;
}

.container-info {
   padding-bottom: 40px;
}